@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: $white;
  padding: 4rem;
  border-radius: 0.8rem;
  align-self: center;
  box-shadow: 0 0.1rem 0.3rem -0.1rem $black;

  h2 {
    color: $primary;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .submit {
    margin-top: 3.2rem;
  }

  .link {
    text-align: center;
    color: $primary;
    text-transform: lowercase;
    margin-top: 1.6rem;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}


